<html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Storage Service</title>
</head>
<body bgcolor="Lightskyblue">
<h3>Employee Storage Service</h3>

<span th:text="${error}"></span>
<form action="#" th:action="@{/employees.html}" th:object="${mainFormModel}" method="post">

    <table>
        <tr>
            <td>Company:</td>
            <td>
                <select name="company" th:field="*{company}">
                    <option th:each="item : ${companies}" th:value="${item.getId()}"
                            th:text="${item.getName()}" th:if="${item.getId() != company}">
                    </option>
                    <option th:each="item : ${companies}" th:value="${item.getId()}"
                            th:text="${item.getName()}" th:if="${item.getId() == company}"
                            selected="selected">
                    </option>
                </select>
            </td>
            <td th:if="${#fields.hasErrors('company')}" th:errors="*{company}">To Error</td>
            <!-- <td>
                <button type="submit">Change company</button>
            </td> -->
        </tr>    
    </table> 
    
</form>
<form>
<fieldset>  
      <legend>Employee Information </legend>
<h4>Employee List</h4>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Surname</td>
        <td>Email</td>
        <td>Salary</td>
        <td>Company</td>
        <td></td>
    </tr>
    <th:block th:each="item : ${employees}">
        <tr>
            <td th:text="${item.getName()}">Name</td>
            <td th:text="${item.getSurName()}">Surname</td>
            <td th:text="${item.getEmail()}">email</td>
            <td th:text="${item.getSalary()}">salary</td>
            <td th:text="${item.getCompany().getName()}">Company</td>
            <td>
                <a th:href="@{/edit(id=${item.getId()}, companyId = ${item.getCompany().getId()})}">edit</a><br />
                <a th:href="@{/delete(id=${item.getId()})}">delete</a>
            </td>
        </tr>
    </th:block>
</table>
</fieldset>
</form>
<form>
<fieldset>  
      <legend>Salary Information:</legend>
	<h3>
        Average Salary For The Company: <p th:text="${result}"/p>
    </h3>
    </fieldset>
</form>
<h4><a th:href="@{/edit(id=-1, companyId = ${mainFormModel.company})}">ADD NEW EMPLOYEE</a></h4>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log out"/>
</form>

</body>
</html>
